@charset "UTF-8";

@font-face {
  font-family: "onlineatrakce";
  src:url("fonts/onlineatrakce.eot");
  src:url("fonts/onlineatrakce.eot?#iefix") format("embedded-opentype"),
    url("fonts/onlineatrakce.woff") format("woff"),
    url("fonts/onlineatrakce.ttf") format("truetype"),
    url("fonts/onlineatrakce.svg#onlineatrakce") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "onlineatrakce" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "onlineatrakce" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atrakce-check:before {
  content: "\61";
}
.icon-atrakce-plus:before {
  content: "\62";
}
