/*pro ruzne obrazovky*/
/*desktop*/
@media all and (min-width: 1101px){
	/*header*/
	#header{
		width: 1100px;
		height: 142px;	
	}
	h1{
		font-size: 35px;
		margin-bottom: 0px;
		width: 600px;
		float: left;
	}
	h2{
		width: 600px;
		float: left;
	}
	#customer{
		width: 455px;
		float: right;
		text-align: right;
		margin-right: 20px;
	}
	#basket{
		width: 400px;
		float: right;
		margin: 10px;
		padding: 2px;
	}
	#basket:hover{
		margin: 8px;
		padding: 4px;
	}

	#content, #footer, #footer-menu, #cart, #order-status, #product-main, #order-main, #order-main h2, #order-main h3, #order-main table{
		width: 1100px;
	}
	main, #banner, #customer-main h2, #customer-main table, #way, #filter, #pager, #product-container, #reg-main, #reg-form h2, 
	#info-page, #info-page table, #info-page h2, #info-page h3, #info-page div{
		width: 800px;
	}
	#empty-product{
		width: 740px;
		margin: 10px;
	}
	aside{
		width: 300px;
	}

	#product-main #way, #product-main h2{
		width: 1100px;
		text-align: center;
	}

	#product-image{
		height: 450px;
		width: 550px;
		float: left;
		padding: 25px;
	}
	#product-image img{
		max-height: 450px;
		max-width: 550px;
	}
	#product-images-roller{
		width: 590px;
		float: left;
	}
	#basic-data, #product-params{
		float: right;
		width: 500px;
	}
	#order-status h2{
		width: 274px;
	}
	#cart .cart-action{
		width: 200px;
		margin-left: 172px;
		margin-right: 172px;
	}
	#cart #extra-long{
		width: 300px;
		margin-left: 122px;
		margin-right: 122px;
	}
}

/*tablets*/
@media all and (max-width: 1100px) and (min-width: 701px){	
	/*header*/
	#header{		
		width: 700px;
		height: 272px;
		text-align: center;
	}
	h1{
		font-size: 35px;
		margin-bottom: 0px;
		width: 700px;
		float: left;
	}
	h2{
		width: 700px;
		float: left;
	}
	#customer{
		width: 700px;
		float: right;
		text-align: center;
	}
	#basket{
		width: 400px;
		margin: 10px auto;
		padding: 2px;
		display: inline-block;
	}
	#basket:hover{
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 4px;
	}

	#content, main, #banner, #way, #filter, #pager, #product-container, aside, 
	#footer, #footer-menu, #product-main, #reg-main, #reg-form h2, #cart, #customer-main h2, #customer-main table,
	#order-status, #cart table, #order-main, #order-main h2, #order-main h3, #order-main table,
	#info-page, #info-page table, #info-page h2, #info-page h3, #info-page div{
		width: 700px;
	}
	#empty-product{
		width: 640px;
		margin: 10px;
	}

	#product-main #way, #product-main h2{
		width: 700px;
		text-align: center;
	}
	#product-image{
		height: 450px;
		width: 550px;
		margin: 0 auto;
		padding: 25px;
	}
	#product-image img{
		max-height: 450px;
		max-width: 550px;
	}
	#product-images-roller{
		width: 590px;
		margin: 0 auto;
	}
	#basic-data, #product-params{
		margin: 0 auto;
		width: 500px;
	}
	#order-status h2{
		width: 348px;
	}

	#cart .cart-action{
		width: 200px;
		margin: 5px 248px;
	}
	#cart #extra-long{
		width: 300px;
		margin: 5px 198px;
	}
}

/*phones*/
@media all and (max-width: 700px) and (min-width: 421px){
	/*header*/
	#header{		
		width: 420px;
		height: 307px;
		text-align: center;
	}
	h1{
		font-size: 35px;
		margin-bottom: 0px;
		width: 420px;
		float: left;
	}
	h2{
		width: 420px;
		float: left;
	}
	#customer{
		width: 420px;
		float: right;
	}
	#basket{
		width: 390px;
		margin: 10px auto;
		padding: 2px;
		display: inline-block;
	}
	#basket:hover{
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 4px;
	}

	#content, main, #way, #filter, #pager, #product-container, aside, 
	#footer, #footer-menu, #product-main, #reg-main, #reg-form h2, #cart, #customer-main h2, #customer-main table,
	#order-status, #cart table, #order-main, #order-main h2, #order-main h3, #order-main table, 
	#info-page, #info-page table, #info-page h2, #info-page h3, #info-page div{
		width: 420px;
	}
	#banner {
		display: none;
	}
	#empty-product{
		width: 360px;
		margin: 10px;
	}

	#product-main #way, #product-main h2{
		width: 420px;
		text-align: center;
	}
	#product-image{
		height: 290px;
		width: 390px;
		margin: 0 auto;
		padding: 15px;
	}
	#product-image img{
		max-height: 290px;
		max-width: 390px;
	}
	#product-images-roller{
		width: 410px;
		float: left;
	}
	#basic-data, #product-params{
		float: right;
		width: 420px;
	}
	#order-status h2{
		width: 418px;
	}

	#cart .cart-action{
		width: 200px;
		margin: 5px 108px;
	}
	#cart #extra-long{
		width: 300px;
		margin: 5px 58px;
	}
}

/*other tiny devices*/
@media all and (max-width: 420px){
	/*header*/
	#header{		
		width: 100%;
		height: 307px;
		text-align: center;
	}
	h1{
		font-size: 35px;
		margin-bottom: 0px;
		width: 100%;
		float: left;
	}
	h2{
		width: 100%;
		float: left;
	}
	#customer{
		width: 100%;
		float: right;
	}
	#basket{
		width: 90%;
		height: 80px;
		margin: 10px auto;
		padding: 2px;
		display: inline-block;
	}
	#basket:hover{
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 4px;
	}
	#banner, #basket img{
		display: none;
	}
	input[type=search]{
		width: 90%;
	}

	#content, main, #way, #filter, #pager, #product-container, aside, 
	#footer, #footer-menu, #product-main, #reg-main, #reg-form h2, #cart, #customer-main h2, #customer-main table,
	#order-status, #order-status h2, #cart table, #order-main, #order-main h2, #order-main h3, #order-main table, 
	#info-page, #info-page table, #info-page h2, #info-page h3, #info-page div{
		width: 100%;
	}
	#empty-product{
		width: 80%;
		margin: 10px auto;
	}

	#product-main #way, #product-main h2{
		width: 100%;
		text-align: center;
	}
	#product-image{
		height: 290px;
		width: 90%;
		margin: 0 auto;
		padding: 5%;
	}
	#product-image img{
		max-height: 290px;
		max-width: 90%;
	}
	#product-images-roller{
		width: 90%;
		margin: 0px auto;
	}
	#basic-data, #product-params{
		float: right;
		width: 100%;
	}

	#cart .cart-action{
		width: 200px;
		margin: 5px auto;
	}
	#cart #extra-long{
		width: 300px;
		margin: 5px auto;
	}
}

/*barvy*/
/*FFF7EA místo 9C27B0
FFE6C1 místo 8E24AA, E1BEE7
FFCD83 místo 7B1FA2, 880E4F, CE93D8
FFCD83 misto C2185B
3D2914 místo E91E63, 8E24AA, D81B60
1F140A pro text
*/

/*obecné styly*/
body{
	margin: 0px;
	background-color: #FFFEFC; /*velmi svetle fialova*/
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
img{
	border: none;
}

/*styly pro věci v header*/
header{
	width: 100%;
	background-color: #FFF7EA; /*fialova*/
}
#header{
	margin: 0 auto;
	color: #1F140A; /*bila*/
}
#header a{
	color: #1F140A; /*bila*/
}
#customer p{
	margin-bottom: 0px;
}
/*košík*/
#basket{
	overflow: auto;
	background-color: #3D2914; /*lososová*/
	border-radius: 7px;
	-moz-box-shadow: 0px 2px 20px #111;
	-webkit-box-shadow: 0px 2px 20px #111;
	box-shadow: 0px 2px 20px #111;
}
#basket:active{
	box-shadow: 0px 2px 10px #111;	
}
#basket img{
	width: 60px;
	float: left;
	margin: 10px;
}
#basket p{
	color: #1F140A;
	float: right;
	text-align: right;
	font-size: 20px;
	margin: 30px 60px 0px 0px;
	color: #FFFFFF;
}
#basket .extend{
	margin: 20px 60px 0px 0px;
}

/*vyhledávání*/
.search{
	width: 100%;
	background-color: #FFE6C1; /*fialova*/	
	text-align: center;
}
.search .search{
	max-width: 1100px;
	margin: 5px auto;
	color: #FFFFFF; /*bila*/
	display: inline-block;
}

input[type=submit], input[type=button], input[type=reset], .button-like{
	box-shadow: 0px 1px 10px #111;
	border-radius: 3px;
	border: none;
	margin: 10px;
	background-color: #3D2914; /*lososova*/
	padding: 8px;
	color: #FFFFFF; /*bila*/
	cursor: pointer;
}
input[type=submit]:active, input[type=button]:active, input[type=reset]:active{
	box-shadow: 0px 0px 0px #111;
	cursor: pointer;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover{
	margin: 8px;
	padding: 10px;
	cursor: pointer;
}
input[type=text], input[type=search], input[type=email], input[type=password], input[type=url], input[type=number], textarea, select{
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px #111;
	border-radius: 5px;
	border: none;
	margin: 10px;
	padding: 8px;
}
input[type=number]{
	width: 65px;
}
.newsletter .button-like{
	width: 200px;
	margin: 5px auto;
}

/*hlavní menu*/
#menu{
	width: 100%;
	background-color: #FFCD83; /*fialova*/	
	text-align: center;
}
nav{
	max-width: 1100px;
	margin: 5px auto;
	color: #1F140A; /*bila*/
	display: inline-block;
	padding: 5px;
}
nav h3{
	box-shadow: 0px 1px 10px #111;
	border-radius: 3px;
	border: none;
	margin: 7px;
	background-color: #3D2914; /*lososova*/
	padding: 7px;
	color: #FFFFFF; /*bila*/
	display: inline-block;
}
nav h3:hover{
	margin: 5px;
	padding: 9px;
}
nav p{
	margin: 0px;
}


/*obsah*/
#content{
	margin: 0 auto;
	overflow: auto;
}

main{
	float: left;
	margin: 0px;
}
h4 a{
	color: #FFFFFF;
}
a{	
	color: #1F140A; /*bila*/
}
#banner {
	height: 300px;
	background-color: #FFFFFF; /*bila*/
}
#way{
	background-color: #FFE6C1; /*fialova*/
	color: #1F140A; /*bila*/
	overflow: auto;	
}
#way p{
	margin: 4px;
	text-align: center;
}
#filter{
	background-color: #FFE6C1; /*fialova*/
	color: #1F140A; /*bila*/
	overflow: auto;
	padding: 5px 0px;
}
#filter input[type=button].sort{
	font-weight: bold;
	margin: 6px 9px;
	padding: 11px 0px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
#filter input[type=button]{
	width: 150px;
	float: left;
	margin: 9px 9px;
	padding: 8px 0px;
	cursor: pointer;
}
#filter input[type=button]:hover{
	width: 150px;
	float: left;
	margin: 6px 9px;
	padding: 11px 0px;
	cursor: pointer;
}
#filter p{
	width: 105px;
	float: left;
	margin: 14px 10px;	
}

.pager{
	background-color: #FFE6C1; /*fialova*/
	color: #1F140A; /*bila*/
	overflow: auto;
	text-align: center;
}
.pager input{
	display: inline-block;
	margin: 6px	4px;
	padding: 8px 8px;
}
.pager input:hover, #choosen-page{
	margin: 4px	2px;
	padding: 10px 10px;	
	font-weight: bold;
}

#product-container{
	text-align: center;
	display: inline-block;
}
.product{
	display: inline-block;
	width: 245px;
	height: 390px;
	overflow: hidden;
	background-color: #FFCD83; /*tmava lososova*/
	margin: 10px;
	color: #1F140A; /*bila*/
	min-height: 320px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.product h5{
	font-size: 20px;
	height: 80px;
	width: 245px;
	vertical-align: middle;
	display: table-cell;
}
.product div{
	width: 220px;
	height: 190px;
	margin: 5px auto;
	overflow: hidden;
}
.product img{
	max-width: 220px;
	max-height: 190px;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}
.product input[type="button"]{
	cursor: pointer;
}
.free-delivery{
	color: #00B30E; /*zelena*/
	font-weight: bold;
	margin: 2px;
}
#empty-product{
	background-color: #FFCD83; /*tmava lososova*/
	text-align: center;
	color: #1F140A; /*bila*/
	font-size: 20px;
	padding: 20px;
}
#empty-product p{
	margin: 0px;
}

/*bok*/
aside {
	float: right;
	margin: 0px;
	background-color: #FFE6C1; /*fialova*/
}
#under-menu {
	color: #1F140A; /*bila*/
	background-color: #FFE6C1; /*fialova*/
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
#under-menu h4 {
	text-align: center;
	box-shadow: 0px 1px 10px #111;
	border-radius: 3px;
	border: none;
	margin: 7px;
	padding: 7px;
	color: #FFFFFF;
	background-color: #3D2914; /*lososova*/
}
#under-menu a {
	color: #1F140A; /*bila*/
}
#o-nakupu ul, #kontakt ul{
	display: none;
}
#o-nakupu:hover ul, #kontakt:hover ul{
	display: block;
}

.newsletter{
	color: #1F140A; /*bila*/
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.newsletter p{
	margin: 0px;
}

#footer{
	width: 100%;
	background-color: #FFF7EA; /*fialova*/
	text-align: center;
}
#footer-menu{
	background-color: #FFF7EA; /*fialova*/
	text-align: center;
	margin: 0 auto;
}
footer{
	margin: 0 auto;
	color: #1F140A; /*bila*/
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-item{
	float: left;
	width: 300px; 
	text-align: left;
	padding: 5px;
}
.footer-item h4{
	margin-left: 50px;
}
footer img{
	width: 60px;
	margin: 7px;
	margin-top: 15px;
}

#status{
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
	top: -80px;
	display: none;
	background-color: #FF9933; /*oranzova*/
	margin: 0px;
	color: #FFFFFF; /*bila*/
}

/*css pro produktovou stranu*/
#product-main{	
	float: left;
	margin: 0px;
}
#product-main h2{
	font-size: 35px;
}
#product-image{
	background-color: #FFCD83; /*svetla fialova*/
	overflow: hidden;
}
#product-image img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#product-images-roller{
	padding: 5px;
	background-color: #FFE6C1; /*velmi svetla fialova*/
	overflow: hidden;
}
#product-images-roller img{
	max-height: 100px;
	max-width: 100px;
	float: left;
	margin-left: 15px;
	position: relative;
	top: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#basic-data{
	text-align: center;
	margin-top: 20px;
	font-size: 17px;
}
#basic-data #price{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}
#basic-data #price-without-vat{
	font-size: 15px;
	color: #4D4D4D; /*seda*/
	margin-top: 5px;
}
#product-main #description{
	font-size: 16px;
	text-align: justify;
	margin: 25px;
	margin-top: 60px;
}
#product-main #description p{
	font-size: 16px;
	text-align: justify;	
}
#free-delivery{
	font-weight: bold;
	color: #11CC11; /*zelena*/
	font-size: 20px;
}
#product-code{
	color: #4D4D4D; /*seda*/
	font-size: 12px;
}
#product-params{
	margin-top: 20px;
	text-align: center;
}
#product-main select{
	margin: 0px;
}

/*pro registraci*/
#reg-main{
}
#reg-form p{
	margin: 0px;
	text-align: center;
}
#reg-form h4{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#reg-form h2{
 	float: none;
 	text-align: center;
}
.required p::after{
	content: "*";
	color: #CC0000; /*cervena*/
	font-size: 20px;
}
#reg-form .black-link{
	margin: 5px 0px;
}
.black-link a{
	color: #000000; /*cerna*/
}
.black-link ul{
	margin: 5px;
}
.black-link p{
	margin-top: 8px;
	margin-bottom: 8px;	
}
.black-link h2{
	text-align: center;
}
#password-info{
	color: #CC0000; /*cervena*/
	font-weight: bold;
}

.pointer{
	cursor: pointer;
}

/*košík*/
#cart{
	margin-bottom: 10px;
	overflow: hidden;
}
.summary, #cart .summary{
	font-weight: bold;
	text-align: right;
	font-size: 17px;
	margin-right: 50px;
}
#cart .cart-action, #cart #extra-long{
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
#cart h4{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#cart .udaje{
	width: 365px;
	float: left;
	overflow: auto;
	font-weight: bold;
}
#cart .udaje h5{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	margin: 5px 10px;
	padding: 5px;
	width: 338px;
	text-align: center;
}
#cart div{
	overflow: auto;
}

/*zákazník*/
#customer-main{
	text-align: center;
}
#customer-main p{
	margin: 0px;
	text-align: center;
}
#customer-main h4{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#customer-main h2{
 	float: none;
 	text-align: center;
}

/*zákazník panel*/
#customer-aside{
	text-align: center;
}
#customer-aside h4 {
	text-align: center;
	box-shadow: 0px 1px 10px #111;
	border-radius: 3px;
	border: none;
	margin: 7px;
	padding: 7px;
	background-color: #3D2914; /*lososova*/
}

/*objednávky*/
#order-status{
	overflow: auto;
}
#order-status h2{
	float: left;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#order-active{
	background-color: #FFCD83; /*fialova*/
	color: #1F140A; /*bila*/
}
.order-form p{
	font-weight: normal;
	text-align: left;
}
#order-form-centered p{
	margin: 0px;
	text-align: center;
}

/*vypis objednavky*/
#order-main, #order-main h2, #order-main h3{
	text-align: center;
}
#order-main h4{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#order-main .udaje{
	width: 365px;
	float: left;
	overflow: auto;
	font-weight: bold;
}
#order-main .udaje h5{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	margin: 5px 10px;
	padding: 5px;
	width: 338px;
	text-align: center;
}
#order-main div{
	overflow: auto;
}
#order-main div p{
	margin: 2px;
}

#vop h3, h4{
	text-align: center;
}
#vop p{
	text-align: justify;
}
#vop a{
	color: #000000; /*cerna*/
}

#info-page {
	overflow: auto;
	text-align: center;
}
#info-page h4{
	background-color: #3D2914; /*fialova*/
	color: #FFFFFF; /*bila*/
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#info-page p{
	text-align: justify;
}
#info-page div{
	float: left;
}

#contact-form p{
	text-align: center;
	margin: 2px 0px;
}


/*pro admina*/
#admin #header{
	height: 60px;
	overflow: auto;
}
#admin #header h3{
	width: 800px;
	float: left;
	text-decoration: underline;
}
#voice-control{
	text-align: center;
	float: left;
	margin: 18px 0px;
	width: 250px;
}
#admin h3{
	text-align: center;
}
#login{
	text-align: center;
	background-color: #FFCD83; /*#7B1FA02*/
	color: white;
}
#login p{
	margin: 0px;
}
#admin footer, #admin footer a{
	text-align: center;
	color: #1F140A; /*bila*/
	background-color: #FFF7EA; /*fialova*/
	text-decoration: none;
	overflow: auto;
	width: 100%;
}
#user-info{
	position: fixed;
	top: 0px;
	left: 10px;
	padding: 10px;
	background-color: #FFCD83; /*fialova*/
	overflow: auto;
	text-align: center;
	color: #1F140A; /*bila*/
	box-shadow: 0px 0px 10px #000000;
}
#user-info p{
	color: #1F140A; /*bila*/
	margin: 0px;
}
#user-main{
	background-color: #FFCD83; /*tmave fialova*/
	color: #1F140A; /*bila*/
}

#admin main{
	width: 1100px;
	margin: 0 auto;
	float: none;
	overflow: auto;
	text-align: center;
}
.mini-module{
	margin: 10px;
	float: left;
	text-align: center;
	background-color: #FFCD83; /*lososova*/
	width: 200px;
}
.mini-module p, #admin-filter p{
	margin: 0px;
}
.mini-module img{
	width: 150px;
	margin: 10px auto;
}
#admin-filter{
	text-align: center;
	background-color: #FFCD83; /*tmave fialova*/
	color: #1F140A; /*bila*/
	margin-bottom: 10px;
}

.full-product{
	background-color: #FFCD83; /*svetla fialova*/
	overflow: auto;
	padding: 10px;
	color: #000000;
}
.full-product p{
	margin: 0px;
	text-align: center;
}
.full-product p input{
	margin: 4px;
}
.full-product .column{
	float: left;
	width: 500px;
}
.full-product input[type=button], .full-product input[type=submit]{
	margin: 10px;
	padding: 8px;
	cursor: pointer;
}
.full-product input[type=button]:hover, .full-product input[type=submit]:hover{
	margin: 8px;
	padding: 10px;
	cursor: pointer;
}
.editable-description{
	width: 400px;
	height: 300px;
	margin: 10px auto;
	background-color: #FFFFFF; /*bila*/
}
.editable-description p{
	text-align: justify;
}

table{
	width: 1100px;	
	text-align: center;
	border-spacing: 2px 5px;
}
tr{
	background-color: #FFCD83; /*tmave fialova*/
	color: #1F140A; /*bila*/
}
tr.new-product, tr.edit-product, tr#new-product, tr.new-mini {
	background-color: transparent;
	padding: 0px;
}
table td{
	width: 120px;
	padding: 5px;
}
table .underrow, table .new{
	background-color: #3D2914; /*lososova*/
	color: #FFFFFF;
}
td img{
	width: 50px;
	margin: 5px auto;
	display: block;
}
.mini-new{
	width: 30px;
	margin: 5px auto;
	display: block;	
}

.productImagesDiv{
	width: 1090px;	
	text-align: center;
	background-color: #FFCD83; /*tmave fialova*/
	color: #1F140A; /*bila*/
	overflow: auto;
	margin: 5px;
}
.productImagesDiv p{
	overflow: auto;
}
.productImagesDiv span{
	width: 340px;	
	float: left;
	border-right: 2px solid white;
	margin-top: 7px;
}
.productImagesDiv input[type=button]{
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}
.productImagesDiv input[type=button]:hover{
	margin: 3px;
	padding: 7px;
	cursor: pointer;
}
.imagesDiv{
	margin: 5px;
	background-color: #3D2914; /*lososova*/
	color: #1F140A;
	overflow: auto;
}
.imagesDiv form{
	background-color: #FFCD83; /*svetle fialova*/	
	padding: 5px;
}
.imagesDiv form p, .imagesDiv form input, .imagesDiv form input:hover{
	margin: 2px;
	padding: 7px;
}
.imageEdit{
	float: left;
	margin: 5px;
	width: 350px;
}
.imageEdit img{
	max-height: 200px;
	max-width: 320px;
}
.imageNew{
	float: left;
	width: 1070px;
}