/* General rules ------------------------------------------------------------------------------- */

html , body 	{ background-color: #000;}
body 		{ color: #666;}

#thePicturePage .left_block,
#thePicturePage .right_block,
#thePicturePage .middle_block,
#content {
	background-color: #101010;
	border: solid 1px #555;
	border-width: 1px 0;
}

a 			{ color: #999;}
a:hover 		{ color: #ccc;}

hr 			{ border-color: #999;}

#theHeader 	{ color: #888; }

/* Content ------------------------------------------------------------------------------------- */

.content_block .additional_info { background-color:#404040;}
.content_block 			{ color:#999;}
.content_block a 		{ color:#ddd;}
.content_block a:hover  	{ color:#fff;}

/* Category thumbnails ------------------------------------------------------------------------- */
.atr .thumbnailCategory .description {
    background-color: rgba(0, 0, 0, 0.07);
    -webkit-transition:background-color 300ms;
    -moz-transition:background-color 300ms;
    transition:background-color 300ms;
}
.atr .thumbnailCategory:hover .description {
    background-color: rgba(0, 0, 0, 0.7);
}

.thumbnailCategories li 				{ color:#999;}

.thumbnailCategories li:hover 		{ color:#666;}

.thumbnailCategory .illustration img 			{ border: 1px solid #555;}
.thumbnailCategory .illustration img:hover 	{ border: 1px solid #101010;}

.atd .thumbnailCategory .description h3  								{ border-color:#555;}
.naf .thumbnailCategories .thumbnailCategory:hover .description h3 	{ border-color:#555;}
.atd .thumbnailCategory:hover .description h3 						{ border-color:#999;}	

.stuffs_block .personal_block ul.thumbnailCategories li,
.stuffs_block .personal_block ul.thumbnailCategories li:hover,
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li,
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.stuffs_block .personal_block ul.thumbnailCategories li 					{ background: #303030 none 0 0 no-repeat;}
.stuffs_block .personal_block ul.thumbnailCategories li:hover				{ background: #c0c0c0 none 0 0 no-repeat;}
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li 		{ background: #404040 none 0 0 no-repeat;}
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover	{ background: #c0c0c0 none 0 0 no-repeat;}

/* Images Thumbnails --------------------------------------------------------------------------- */

.thumbnails li, #thumbnails li  				{ background: transparent url(images/back_40.png) 0 0 no-repeat;}
.thumbnails li:hover, #thumbnails li:hover	{ background: transparent url(images/back_40.png) 0 -170px no-repeat;}
.stuffs_block li 							{ background: transparent url(images/back_50.png) 0 -0 no-repeat;}
.stuffs_block li:hover 					{ background: transparent url(images/back_50.png) 0 -170px no-repeat;}
.wrap1 .thumbLegend 						{ color:#888;}
.wrap1 .wrap2 .thumbnail ,
.wrap1 .wrap2 .thumbnail:hover 			{ border:solid 1px #404040;}

/* Navigation Bar ------------------------------------------------------------------------------ */

#thumb_navigation 					{ color:#666;}
#thumb_navigation #tn_prev			{ background: transparent url(icon/arrows.png) 0 0 no-repeat;}
#thumb_navigation #tn_next			{ background: transparent url(icon/arrows.png) -20px 0 no-repeat;}
#thumb_navigation a#tn_prev:hover	{ background: transparent url(icon/arrows.png) 0 -150px no-repeat;}
#thumb_navigation a#tn_next:hover	{ background: transparent url(icon/arrows.png) -20px -150px no-repeat;}

/* Picture Page -------------------------------------------------------------------------------- */

#thePicturePage #content {
	background:none;
	border:none;	
}

#thePicturePage .titrePage {	border-bottom : solid 1px #555;}

#thePicturePage  #footer_left {display:none;}

#thePicturePage #footer {
	margin-bottom:0;
	position:fixed;
	bottom:0;
	border: none;
	width:99%;
	max-width:1120px;
	height:0;
	overflow:visible;
	padding: 2px 0;
}

#thePicturePage #copyright {
	margin: -12px 4px 0 0;
	overflow: hidden;
	direction: rtl;
	line-height: 12px;
	white-space: nowrap;
}

#imageTitleContainer { margin-top: 5px;}

#imageTitle {
	font-weight:bold;
	color:#666;
}

.js #theImageAndTitle {
	position: fixed;
	margin: 0;
	top: 30px;
	left: 0;
}

#theImageAndTitle {
	width: 100%;
	margin-top:10px;
}

#theImage { 	margin-bottom: 0;}

.img_frame #theMainImage {
	border-width: 6px;
	border-color: #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border-style:solid;
	padding:0;
}

/* Image Nav Arrows ---------------------------------------------------------------------------- */

.img_prev 	{ left: 4px;}
.img_next	{ right: 4px;}
.cat_up 		{ top: 4px;}

/* Navigation Arrows --------------------------------------------------------------------------- */

#theImageBox 	{ position: relative;}
#imgprev 		{ position: fixed; background: transparent url(icon/arrows.png) 0 0 no-repeat;}
#imgnext 		{ position: fixed; background: transparent url(icon/arrows.png) -20px 0 no-repeat;}
#imgprev:hover 	{ background: transparent url(icon/arrows.png) 0 -150px no-repeat;}
#imgnext:hover	{ background: transparent url(icon/arrows.png) -20px -150px no-repeat;}

/* HD Picture Box ------------------------------------------------------------------------------ */

#theImgHighContainer {
	padding:8px!important;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

#theImgHighBg {
	background-color:#333;
	opacity:0.96;
	filter:alpha(opacity:96);
	-moz-opacity:0.96;
	-khtml-opacity: 0.96;
}

#theImgHighCloseButton, #theImgHighZoomButton  { right: -17px;}

#theImgHighCloseButton		{ background:transparent url(icon/close_high_round.png) no-repeat scroll 0px 0px;}
#theImgHighZoomButton.fit 	{ background:transparent url(icon/zoom_fit_high_round.png) no-repeat scroll 0px 0px;}
#theImgHighZoomButton.full 	{ background:transparent url(icon/zoom_1-1_high_round.png) no-repeat scroll 0px 0px;}

/* Navbuttons ---------------------------------------------------------------------------------- */

#imageToolBar .navButton {
	background-image: url(icon/picture_24.png);
}

/* Tabs ---------------------------------------------------------------------------------------- */

#tabZone {
	position:fixed;
	bottom:0px;
	width:99%;
	max-width:1120px;
}

#tabTitleBar	{
	border: none;
	z-index:5;
}

#tabTitles  {
	line-height: 22px;
	display: inline-block;
	padding:0 1px 0 0;
}

.tabTitle {
	border: solid 0 #404040;
	border-width: 1px 1px 0 1px;
	margin-right:-1px;
	background:#101010;
	height:24px;
	border-radius: 6px 6px 0 0 ;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-righft-radius:6px;
}

.tabTitle:hover { color:#999;}

.tabSelected {
	color: #999;
	background: #404040;
}

.tabBlock {
	padding-bottom:12px;
	background: #404040;
	border-radius: 0 8px 0 0 ;
	-moz-border-radius-topright:8px;
	-webkit-border-top-righft-radius:8px;
}

.tabBlockContent {
	overflow:auto;
	max-height:350px;
	padding: 10px 50px 0;
	background: #404040;
	color:#aaa;
}	

.tabBlock a { color:#eee;}

/* Light Slideshow ----------------------------------------------------------------------------- */

#light_slideshow .titrePage {
	border-color: #000;
}

#light_slideshow			{ color: #444;}
#light_slideshow a 			{ color: #666;}
#light_slideshow a:hover 	{ color: #999;}

#light_slideshow .navButton {
	opacity:0.5;
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
}

#light_slideshow #content {
	background-color: #101010;
	border: 1px #101010 solid;
	border-width: 1px 0;
}

#light_slideshow #theImageAndTitle 	{ margin: 0 auto;}
#light_slideshow #theMainImage		{ border-color: #fff;}

#light_slideshow #imageTitle{
	color: #666;
	background: none;
}


/* Comments ------------------------------------------------------------------------------------ */

#comments > ul > li 						{ background: #404040;}
.subcontent .stuffs_block #comments li  	{ background: #505050;}
#comments .description 					{ color: #999;}
#comments .description .author,
#comments .description .date 				{ color: #c0c0c0;}
#commentList li							{ border-top: 1px dotted #606060;}
.commentList a 							{ color: #ccc;}
.commentList a:hover						{ color: #eee;}

/* Tags ---------------------------------------------------------------------------------------- */

fieldset legend 			{ color: #666;}
#fullTagCloud a:hover 	{ background: #606060;}

/* Calendar ------------------------------------------------------------------------------------ */

.calMonth td 			{ background-color: #363636;}


/* Inputs & Forms ------------------------------------------------------------------------------ */

input, select, textarea {
	background-color: #666;
	border: 1px solid #999;
	color: #F0F0F0;
}

input[type="submit"], input[type="reset"] {
	background-color: #3f3f3f;
	border: 1px solid #606060;
	color: #999;
}
input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #666;
	border: 1px solid #999;
	color: #F0F0F0;
}

fieldset		 	{ border: 1px #606060 dotted;}
.mandatorystar 	{ color: #e04040;}

#quicksearch input {
	color:#BBB;
	background:#505050;
}

#quickconnect input#username,
#quickconnect input#password {
	color:#AAA;
}

/* Footer -------------------------------------------------------------------------------------- */

.footer_login a 			{ color:#666;}
.footer_login a:hover 	{ color:#ccc;}

/* Infos & Errors ------------------------------------------------------------------------------ */

.errors {
	border: 2px solid #A04040;
	color: #A04040;
}

.infos {
	border: 2px solid #40A040;
	color: #40A040;
}

.errors a 	{ color: #FF0000;}
.infos a 	{ color: #00FF00;}

/* RV Maps & Earth Plugin ---------------------------------------------------------------------- */

#mapPicture {
	color:#202020;
}

/* User Tags Plugin ---------------------------------------------------------------------------- */

#Tags ul.token-input-list-facebook {
	background-color: #555;
	border-color: #666;
}

#Tags li.token-input-token-facebook {
	background-color: #666;
	border-color: #999;
	color: #EEE;
}

#Tags li.token-input-input-token-facebook input {
	background-color: #666;
	color: #EEE;
}

/* PWG Stuffs Plugin --------------------------------------------------------------------------- */

.subcontent .stuffs_block .left_block,
.subcontent .stuffs_block .right_block,
.subcontent .stuffs_block .middle_block {
	background-color:#303030;
	color:#999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}

#thePicturePage .stuffs_block { display: none;}

/* No Thumb Frame CSS -------------------------------------------------------------------------- */

.naf .stuffs_block .personal_block ul.thumbnailCategories li,
.naf .thumbnailCategories li ,
.naf .subcontent  .stuffs_block .personal_block ul.thumbnailCategories li {
	background: none;
}

.naf .stuffs_block .personal_block ul.thumbnailCategories li:hover,
.naf .thumbnailCategories li:hover,
.naf .subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover {
	background: none;
	color: #c0c0c0;
}

.naf .thumbnailCategory 			{ border: 1px solid #777;}
.naf .thumbnailCategory:hover 	{ border: 1px solid #c0c0c0;}

.ntf .wrap1 .wrap2 .thumbnail {
	border:solid 1px #444;
}
.ntf .wrap1 .wrap2 .thumbnail:hover {
	border:solid 1px #777;
}

.ntf .thumbnails li,
.ntf #thumbnails li ,
.ntf .stuffs_block li {
	background: none;
}

.ntf .thumbnails li:hover,
.ntf #thumbnails li:hover,
.ntf .stuffs_block li:hover {
	background: none;
}

/* Misc ---------------------------------------------------------------------------------------- */

#thePicturePage .Online { display: none;}

.fotorama__caption__wrap {
  color: #fff;
  background-color: rgba(0,0,0,0.3) !important;
}
