/* General rules ------------------------------------------------------------------------------- */

html , body 	{ background-color: #fff;}
body 		{ color: #888;}

#thePicturePage .left_block,
#thePicturePage .right_block,
#thePicturePage .middle_block,
#content {
	background-color: #fff;
	border: solid 1px #bbb;
	border-width: 1px 0;
}

a 			{ color: #555;}
a:hover 		{ color: #000;}

hr 			{ border-color: #999;}

#theHeader 	{ color: #888; }

/* Content ------------------------------------------------------------------------------------- */

.content_block .additional_info { background-color:#eee; border:none;}
.content_block 			{color:#666;}
.content_block a			{color:#222;}
.content_block a:hover 	{color:#00;}

/* Category thumbnails ------------------------------------------------------------------------- */

.thumbnailCategories li,
.thumbnailCategories li:hover,
.stuffs_block .personal_block ul.thumbnailCategories li,
.stuffs_block .personal_block ul.thumbnailCategories li:hover,
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li,
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover {
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.stuffs_block .personal_block ul.thumbnailCategories li, .thumbnailCategories li				{ background: #eee none 0 0 no-repeat;}
.stuffs_block .personal_block ul.thumbnailCategories li:hover, .thumbnailCategories li:hover	{ background: #ccc none 0 0 no-repeat;}
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li							{ background: #fbfbfb none 0 0 no-repeat;}
.subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover					{ background: #ddd none 0 0 no-repeat;}

.thumbnailCategory .illustration img 			{ border: 1px solid #555;}
.thumbnailCategory .illustration img:hover 	{ border: 1px solid #555;}

.thumbnailCategories li 					{ color:#666;}
.thumbnailCategories li:hover				{ color:#444;}

.atd .thumbnailCategory .description h3 { border-color:#999;}
.naf .thumbnailCategories .thumbnailCategory:hover .description h3  { border-color:#999;}
.atd .thumbnailCategory:hover .description h3 { border-color:#666;}	

/* Images Thumbnails --------------------------------------------------------------------------- */

.thumbnails li,
#thumbnails li 			{
	background: #fbfbfb none 0 0 no-repeat;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.thumbnails li:hover,
#thumbnails li:hover {
	background: #ddd none 0 0 no-repeat;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.stuffs_block li {
	background: #e8e8e8 none 0 0 no-repeat;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.stuffs_block li:hover {
	background: #e8e8e8 none 0 0 no-repeat;
	border-radius:10px;	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.wrap1 .wrap2 .thumbnail ,
.wrap1 .wrap2 .thumbnail :hover {
	border:solid 1px #404040;
}

.wrap1 .thumbLegend {
	color:#888;
}

/* Navigation Bar ------------------------------------------------------------------------------ */

#thumb_navigation {
	color:#666;
}

#thumb_navigation #tn_prev {
	background: transparent url(icon/arrows-white.png) 0 0 no-repeat;
}

#thumb_navigation #tn_next {
	background: transparent url(icon/arrows-white.png) -20px 0 no-repeat;
}

#thumb_navigation a#tn_prev:hover {
	background: transparent url(icon/arrows-white.png) 0 -150px no-repeat;
}

#thumb_navigation a#tn_next:hover {
	background: transparent url(icon/arrows-white.png) -20px -150px no-repeat;
}

/* Picture Page -------------------------------------------------------------------------------- */

#thePicturePage #content {
	background:none;
	border:none;	
}

#thePicturePage .titrePage { border-bottom : solid 1px #bbb;}

#thePicturePage  #footer_left {display:none;}

#thePicturePage #footer {
	margin-bottom:0;
	position:fixed;
	bottom:0;
	border: none;
	width:99%;
	max-width:1120px;
	height:0;
	overflow:visible;
	padding: 2px 0;
}

#thePicturePage #copyright {
	margin: -12px 4px 0 0;
	overflow:hidden;
	direction:rtl;
	line-height:12px;
	white-space:nowrap;
}

#imageTitleContainer { margin-top: 5px;}

#imageTitle {
	font-weight: bold;
	color: #777;
}

.js #theImageAndTitle {
	position: fixed;
	margin: 0;
	top: 30px;
	left: 0;
}

#theImageAndTitle {
	width: 100%;
	margin-top:10px;
}

#theImage { 	margin-bottom: 0;}

.img_frame #theMainImage {
	border: solid 1px #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:0;
	vertical-align:middle;
}

.img_frame {
	border: solid 1px #bbb;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 8px;
	background-color:#f5f5f5;
}

/* Image Nav Arrows ---------------------------------------------------------------------------- */

.img_prev 	{ left: 6px;}
.img_next	{ right: 6px;}
.cat_up 		{ top: 6px;}

/* Navigation Arrows --------------------------------------------------------------------------- */

#theImageBox 	{ position: relative;}
#imgprev 		{ position: fixed; background: transparent url(icon/arrows-white.png) 0 0 no-repeat;}
#imgnext 		{ position: fixed; background: transparent url(icon/arrows-white.png) -20px 0 no-repeat;}
#imgprev:hover 	{ background: transparent url(icon/arrows-white.png) 0 -150px no-repeat;}
#imgnext:hover	{ background: transparent url(icon/arrows-white.png) -20px -150px no-repeat;}

/* HD Picture Box ------------------------------------------------------------------------------ */

#theImgHighContainer {
	padding:8px!important;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

#theImgHighBg {
	background-color:#333;
	opacity:0.96;
	filter:alpha(opacity:96);
	-moz-opacity:0.96;
	-khtml-opacity: 0.96;
}

#theImgHighCloseButton, #theImgHighZoomButton  { right: -17px;}

#theImgHighCloseButton		{ background:transparent url(icon/close_high_round.png) no-repeat scroll 0px 0px;}
#theImgHighZoomButton.fit 	{ background:transparent url(icon/zoom_fit_high_round.png) no-repeat scroll 0px 0px;}
#theImgHighZoomButton.full 	{ background:transparent url(icon/zoom_1-1_high_round.png) no-repeat scroll 0px 0px;}

/* Navbuttons ---------------------------------------------------------------------------------- */

#imageToolBar .navButton {
	background-image: url(icon/picture_24-white.png);
}

/* Tabs ---------------------------------------------------------------------------------------- */

#tabZone {
	position:fixed;
	bottom:0px;
	width:99%;
	max-width:1120px;
}

#tabTitleBar	{
	border: none;
	z-index:5;
}

#tabTitles  {
	height:26px;
	line-height: 22px;
	display: inline-block;
	padding:0 1px 0 0;
}

.tabTitle {
	border: solid 0 #bbb;
	border-width: 1px 1px 0 1px;
	margin-right:-1px;
	background:#fff;
	height:24px;
	border-radius: 6px 6px 0 0 ;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-righft-radius:6px;
}

.tabTitle:hover { color:#999;}

.tabSelected {
	color: #666;
	background: #eee;
	border:solid 0 #bbb;
	border-width:	1px 1px 0 1px;
	height:25px;
}

.tabBlock {
	padding-bottom:12px;
	background: #eee;
	border:solid 0 #bbb;
	border-width:	1px 1px 0 1px;
	border-radius: 0 8px 0 0 ;
	-moz-border-radius-topright:8px;
	-webkit-border-top-righft-radius:8px;
}

.tabBlockContent {
	overflow:auto;
	max-height:350px;
	padding: 10px 50px 0;
	background: #eee;
	color:#666;
}	

.tabBlock a 			{ color:#444;}
.tabBlock a:hover	{ color:#111;}

/* Light Slideshow ----------------------------------------------------------------------------- */

#light_slideshow .titrePage {
	border-color: #fff;
}

#light_slideshow			{ color: #aaa;}
#light_slideshow a 			{ color: #999;}
#light_slideshow a:hover 	{ color: #666;}

#light_slideshow .navButton {
	opacity:0.5;
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
}

#light_slideshow #content {
	background-color: #fff;
	border: 1px #fff solid;
	border-width: 1px 0;
}

#light_slideshow #theImageAndTitle 	{ margin: 0 auto;}
/*#light_slideshow #theMainImage		{ border-color: #fff;}*/

#light_slideshow #imageTitle{
	color: #666;
	background: none;
}


/* Comments ------------------------------------------------------------------------------------ */

#comments > ul > li 						{ background: #fbfbfb;}
.subcontent .stuffs_block #comments li  	{ background: #e8e8e8;}
#comments .description 					{ color: #555;}
#comments .description .author,
#comments .description .date 				{ color: #888;}
#commentList li							{ border-top: 1px dotted #999;}
.commentList a 							{ color: #444;}
.commentList a:hover						{ color: #111;}

/* Tags ---------------------------------------------------------------------------------------- */

fieldset legend 			{ color: #666;}
#fullTagCloud a:hover 	{ background: #606060;}

/* Calendar ------------------------------------------------------------------------------------ */

.calMonth td 			{ background-color: #fbfbfb;}


/* Inputs & Forms ------------------------------------------------------------------------------ */

input, select, textarea {
	background-color: #ccc;
	border: 1px solid #888;
	color: #111;
}

input[type="submit"], input[type="reset"] {
	background-color: #ccc;
	border: 1px solid #999;
	color: #666;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #ccc;
	border: 1px solid #888;
	color: #111;
}

fieldset		 	{ border: 1px #999 dotted;}
.mandatorystar 	{ color: #e04040;}

#quicksearch input {
	color:#555;
	background:#ccc;
}

#quickconnect input#username,
#quickconnect input#password {
	color:#666;
}

/* Footer -------------------------------------------------------------------------------------- */

.footer_login a 			{ color:#666;}
.footer_login a:hover 	{ color:#ccc;}

/* Infos & Errors ------------------------------------------------------------------------------ */

.errors {
	border: 2px solid #A04040;
	color: #A04040;
}

.infos {
	border: 2px solid #40A040;
	color: #40A040;
}

.errors a 	{ color: #FF0000;}
.infos a 	{ color: #00FF00;}

/* RV Maps & Earth Plugin ---------------------------------------------------------------------- */

#mapPicture {
	color:#202020;
}

/* User Tags Plugin ---------------------------------------------------------------------------- */

#Tags ul.token-input-list-facebook {
	background-color: #555;
	border-color: #666;
}

#Tags li.token-input-token-facebook {
	background-color: #666;
	border-color: #999;
	color: #EEE;
}

#Tags li.token-input-input-token-facebook input {
	background-color: #666;
	color: #EEE;
}

/* PWG Stuffs Plugin --------------------------------------------------------------------------- */

.subcontent .stuffs_block .left_block,
.subcontent .stuffs_block .right_block,
.subcontent .stuffs_block .middle_block {
	background-color:#fbfbfb;
	color:#999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
}

#thePicturePage .stuffs_block { display: none;}

/* No Thumb Frame CSS -------------------------------------------------------------------------- */

.naf .stuffs_block .personal_block ul.thumbnailCategories li,
.naf .thumbnailCategories li ,
.naf .subcontent  .stuffs_block .personal_block ul.thumbnailCategories li {
	background: none;
}

.naf .stuffs_block .personal_block ul.thumbnailCategories li:hover,
.naf .thumbnailCategories li:hover,
.naf .subcontent  .stuffs_block .personal_block ul.thumbnailCategories li:hover {
	background: none;
	color:#222;
}

.naf .thumbnailCategory .illustration img 			{ border: 1px solid #777;}
.naf .thumbnailCategory .illustration img:hover 	{ border: 1px solid #111;}

.ntf .wrap1 .wrap2 .thumbnail {
	border:solid 1px #999;
}
.ntf .wrap1 .wrap2 .thumbnail:hover {
	border:solid 1px #666;
}

.ntf .thumbnails li,
.ntf #thumbnails li ,
.ntf .stuffs_block li {
	background: none;
}

.ntf .thumbnails li:hover,
.ntf #thumbnails li:hover,
.ntf .stuffs_block li:hover {
	background: none;
}

/* Misc ---------------------------------------------------------------------------------------- */

#thePicturePage .Online { display: none;}


/* drop-down boxes new in 2.4 */
.switchBox {
  background-color: #ccc;
  color:#222;
}

.fotorama__caption__wrap {
  color: #000;
  background-color: rgba(255,255,255,0.3) !important;
}
